@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
}

body{
    background-color:#080808;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;
    height: 635px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
}

/* Weather backgrounds */
main.clouds { background-image:url('../img/cloudy.jpg'); }
main.sunny { background-image:url('../img/sunny.jpg'); }
main.overcast { background-image:url('../img/overcast.jpeg'); }
main.mist, main.Mist, main.haze, main.smoke { background-image:url('../img/mist.jpg'); }
main.rain { background-image:url('../img/rain.jpg'); }
main.snow { background-image:url('../img/snow.jpg'); }
main.sleet { background-image:url('../img/sleet.jpg'); }
main.drizzle { background-image:url('../img/drizzle.jpg'); }
main.thunder, main.thundery { background-image:url('../img/thunder.jpg'); }
main.blizzard { background-image:url('../img/blizzard.jpg'); }
main.fog { background-image:url('../img/fog.jpg'); }
main.ice { background-image:url('../img/ice.jpeg'); }
main.shower { background-image:url('../img/shower.png'); }
main.showers { background-image:url('../img/showers.jpeg'); }
main.clear { background-image:url('../img/clear.jpeg'); }

/* Side Container */
.side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 40px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(22.5px);
}

/* Search Box */
.search-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 55px;
    border-bottom: 1px solid #ffffff;
}

/* Search button first, input middle, weather icon last */
.search-button, .weather-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none; /* remove focus glow */
    box-shadow: none; /* remove any shadow */
}

.search-button i, .weather-icon i{
    font-size: 18px;
    color: white;
    text-shadow: none;
}

.geo-input{
    all: unset;
    flex: 1;
    margin: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.geo-input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

/* Day Stats */
.day-stats{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 60px;
    z-index: 2;
}
.day-stats__temprature{
    font-size: 50px;
    line-height: 100%;
    color: #fff;
}
.day-stats__temprature_value{
    line-height: 100%;
    color: #fff;
}
.day-stats_feelslike{
    font-size: 20px;
    font-weight: 300;
    margin: 9px 0 6px;
    color: #fff;
}
.day-stats__condition{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    color: #fff;
}
.day-stats__condition_text{
    font-size: 13px;
    color: #fff;
}

/* Main Container */
.main-container{
    position: relative;
    width: calc(1079px - 259px);
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 75px;
    background-image: url('../img/main-blur.png');
    background-size: cover;
    background-position: center;
}

.secondary-title{
    font-size: 13px;
    margin-bottom: 17px;
    color: #fff;
}

.weather__primary-title{
    margin: 16px;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -1.9px;
    color: #fff;
}

.weather__location{
    display: flex;
    align-items: center;
    margin-left: 26px;
}
.location-icon{
    margin-right: 8px;
    margin-bottom: 7px;
    color: #fff;
}
.weather__location-text{
    font-size: 17px;
    color: #fff;
}

.weather__primary-stats{
    width: 360px;
    font-size: 13px;
    margin-bottom: 80px;
    color: #fff;
}

/* Forecast */
.forecast{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    color: #fff;
}
.forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.forecast-time{
    font-size: 13px;
    margin-bottom: 4px;
    color: #fff;
}
.forecastWindText{
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}
.forecast-temperature{
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
    color: #fff;
}

/* Chart */
#chart{
    margin: 30px auto;
    width: 100%;
}

/* General text */
.weather, .feels_like-temp, .forecast-temperature, .forecast, #description{
    color: #fff;
}
/* Remove all glow/outline effects from search button and weather icon */
.search-button, .search-button i, 
.weather-icon, .weather-icon i {
    outline: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

/* Remove glow on focus */
.search-button:focus, .weather-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}
